---
interface Props {
  href: string
}

const { href } = Astro.props
---

<a class="back-link" href={href}>
  <slot />
</a>

<style>
  .back-link {
    display: inline-flex;
    width: fit-content;
    color: var(--text-faint);
    font-size: 0.9rem;
  }

  .back-link:hover {
    color: var(--accent);
  }
</style>
